@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";

$enable-negative-margins: true;



.App {
    background-color: rgba(253, 119, 119);

    height: 100vh;
    width: 100vw;
}


@include media-breakpoint-down(sm) {
    .control-btn-icon {
        @include font-size(1rem);

    }

    .control-btn {
        width: 2.5rem;
    }

    .mode-btn {
        @include font-size(0.8rem);

    }
}

@include media-breakpoint-down(md) {
    .mode-btn {
        @include font-size(1rem);

    }

    .timer-text {
        @include font-size(7rem);
    }

    .control-btn-icon {
        @include font-size(1.8rem);

    }

    .control-btn {
        width: 3rem;
    }
}

@include media-breakpoint-up(md) {
    .mode-btn {
        @include font-size(1.2rem);
    }

    .timer-text {
        @include font-size(7.5rem);
    }

    .control-btn-icon {
        @include font-size(1.8rem);

    }

    .control-btn {
        width: 3rem;
    }
}


@include media-breakpoint-up(lg) {
    .control-btn {
        @include font-size(3rem);

    }

    .control-btn {
        width: 4rem;
    }
}



.tomato {
    width: 2rem;
    height: auto;

}

.task-tomato {
    width: 1.2rem;
    height: auto;
}


.font-weight-bold {
    font-weight: 700;
}